@model List<ProductModel>

@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product List</h1>

@if (Model != null && Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>ListPrice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.ListPrice</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products found.</p>
}
